* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.my-perfect-button {
	display: inline-block;
	padding: .7rem 2.5rem;
	border-radius: 10rem;
	cursor: pointer;
	user-select: none;
	position: relative;
	transition: all .2s;
}

.my-perfect-button:hover::after {
	transform: scaleX(1.5) scaleY(1.5);
	opacity: 0;
}

.my-perfect-button::after {
	content: '';
	position: absolute;
	z-index: -1;
	transition: all .4s;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: inline-block;
	background-color: #313131;
	border-radius: 10rem;
	cursor: pointer;
	user-select: none;
}

.my-perfect-button:hover {
	transform: translateY(-3px);
	box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.my-perfect-button:active {
	transform: translateY(-1px);
	box-shadow: 0px .2rem .5rem rgba(0, 0, 0, 0.5);
}

body {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: large;
}

.my-container {
	height: 100%;
	display: flex;
}

.my-left {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}

.my-left .my-month {
	width: 100%;
	margin-bottom: 1rem;
}

.my-left .my-month h5 {
	text-align: center;
	font-size: 1.5rem;
	color: #747978;
}

.my-left .my-month h5 i {
	cursor: pointer;
	line-height: 1.5rem;
}

.my-left .my-month h5 .fa-chevron-right {
	font-size: 1rem;
	margin-left: 1.5rem;
	transition: all 0.2s;
}
.my-left .my-month h5 .fa-chevron-left {
	font-size: 1rem;
	margin-right: 1.5rem;
	transition: all 0.2s;
}

.my-left .my-month h5 .fa-chevron-left:hover {
	transform: scale(1.2);
}

.my-left .my-month h5 .fa-chevron-left:active {
	transform: scale(1);
}

.my-left .my-month h5 .fa-chevron-right:hover {
	transform: scale(1.2);
}

.my-left .my-month h5 .fa-chevron-right:active {
	transform: scale(1);
}

.my-right {
	width: 40%;
	background-color: #004c4c;
	box-shadow: -10px 0px 10px 1px #aaaaaa;
}

.my-right .my-content {
	padding: 40px;
}

.my-right .my-date {
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 26px;
}

.my-animation {
	animation: opacityAnimation 1s ease-out;
}

.my-right .my-date span {
	display: block;
}

@keyframes opacityAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.my-right .my-content .my-input-wrapper {
	margin-top: 3rem;
}

.my-right .my-content .my-input-wrapper input {
	width: 100%;
	padding: 10px 16px;
	border: none;
	outline: none;
	color: #b2d8d8;
	background: none;
	border-radius: 6px;
	border: 1.2px solid #747978;
	font-size: 1rem;
}

.my-right .my-content .my-input-wrapper input::placeholder {
	color: #b2d8d8;
}

.right-to-center {
	animation: rightToCenterAnimation 1s ease-out;
}

.top-to-center {
	animation: topToCenterAnimation 1s ease-out;
}

@keyframes topToCenterAnimation {
	0% {
		transform: translateY(-2rem);
		opacity: 0;
	}

	100% {
		transform: translate(0);
		opacity: 1;
	}
}

@keyframes rightToCenterAnimation {
	0% {
		transform: translateX(5rem);
		opacity: 0;
	}

	100% {
		transform: translate(0);
		opacity: 1;
	}
}

.left-to-center {
	animation: leftToCenterAnimation 1s ease-out;
}

@keyframes leftToCenterAnimation {
	0% {
		transform: translateX(-5rem);
		opacity: 0;
	}

	100% {
		transform: translate(0);
		opacity: 1;
	}
}

table th {
	padding: 1.3rem 2.5rem;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 400;
	color: #747978;
}

table td {
	padding: 1.3rem 2.5rem;
	text-align: left;
}

table tr td span {
	position: relative;
	border-radius: 30%;
	width: 35px;
	height: 35px;
	display: inline-block;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
	color: #747978;
	font-weight: bold;
	font-size: 14px;
	user-select: none;
	transition: all 0.2s;
}

.my-hover {
	background-color: #74797831;
	box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
	transform: translateY(-3px);
}

table tr td span:hover {
	background-color: #74797831;
	box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
	transform: translateY(-3px);
}

table tr td span:active {
	background-color: #74797831;
	box-shadow: 0px .2rem .5rem rgba(0, 0, 0, 0.2);
	transform: translateY(-1px);
}

.card:hover {
	opacity: 0.9;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(160, 158, 158);
}
